<%# app/views/shared/_collection_search.html.erb %>

<%#
  Riceve:
  - form:        (FormBuilder) Il costruttore del form principale.
  - placeholder: (String)
%>

<label class="input w-full">
  <%= icon("search", class: "h-[1em] opacity-50") %>

  <%= form.search_field :query,
       autocomplete: "off",
       value: (params.dig(:query, :query) || ""),
       class: "grow",
       placeholder: placeholder,
       data: { action: "input->search-form#search" } %>
</label>
