<%#
  Componente: Bottone per aprire drawer filtri

  Parametri:
  - filter_count: (opzionale) Numero filtri attivi
%>

<% filter_count ||= 0 %>

<label
  for="filter-drawer"
  class="btn btn-ghost gap-2 flex-shrink-0 cursor-pointer"
>
  <%= icon("filter", size: 18) %>
  <span class="inline"><%= t("search.filter") %></span>

</label>
