<div class="mt-6">
  <div class="space-y-4">
    <div class="overflow-x-auto rounded-box border border-base-content/5 shadow-sm">
      <table class="table table-zebra w-full"><%= yield %></table>
    </div>

    <% if local_assigns[:pagy] && pagy.pages > 1 %>
      <div class="border-t border-base-content/5 pt-4">
        <%= render "shared/pagination", pagy: pagy %>
      </div>
    <% end %>
  </div>
</div>
