<%= turbo_stream_from @member %>

<%= render layout: "members/shell", locals: { member: @member } do %>
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold">Storico Abbonamenti</h1>
  </div>

  <%= render "shared/table", pagy: @pagy do %>
    <thead>
      <tr>
        <th class="w-32">Stato</th>
        <th>Abbonamento</th>
        <th>Periodo di Validità</th>
        <th class="text-center">Giorni</th>
        <th>Riferimento Acquisto</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "subscription_row", collection: @subscriptions, as: :subscription %>

      <% if @subscriptions.empty? %>
        <tr>
          <td colspan="5" class="text-center py-10 opacity-50 italic">
            Nessun abbonamento attivo o passato.
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
<% end %>
